[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Brute generating ethereum private keys and check them against known addresses.
[access "refs/*"]
	owner = group user/guanggg (fireagainsmile)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/guanggg (fireagainsmile)
	label-Verified = -1..+1 group user/guanggg (fireagainsmile)
	push = group user/guanggg (fireagainsmile)
	read = group user/guanggg (fireagainsmile)
	rebase = group user/guanggg (fireagainsmile)
	removeReviewer = group user/guanggg (fireagainsmile)
	submit = group user/guanggg (fireagainsmile)
[access "refs/heads/*"]
	create = group user/guanggg (fireagainsmile)
	push = +force group user/guanggg (fireagainsmile)
	pushMerge = group user/guanggg (fireagainsmile)
	read = group user/guanggg (fireagainsmile)
[access "refs/tags/*"]
	push = group user/guanggg (fireagainsmile)
	push = +force group user/guanggg (fireagainsmile)
